{% extends "base.html.twig" %}
{% block title %}Administration{% endblock %}
{% block content %}
    <div class="center">
        <div class="content_center">
            <h3>Administration</h3>
            <div class="message">
                <p class="message_text">
                    {{ session.show('add_article') }}
                    {{ session.show('edit_article') }}
                    {{ session.show('delete_article') }}
                    {{ session.show('add_comment') }}
                    {{ session.show('flag_comment') }}
                    {{ session.show('delete_comment') }}
                    {{ session.show('delete_user') }}
                    {{ session.show('validate_comment') }}
                </p>
            </div>
            <h4>Articles</h4>
            <a class="margin bouton4" href="../public/index.php?route=addArticle">Nouvel article</a>
            <table class="table-responsive">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Pseudo</th>
                    <th scope="col">Contenu</th>
                    <th scope="col">Auteur</th>
                    <th scope="col">Date</th>
                    <th scope="col">Actions</th>
                </tr>
                {% for article in articles %}
                    <tr>
                        <td scope="row">{{ article.getId() }}</td>
                        <td scope="row">{{ article.getTitle()|raw }}</td>
                        <td scope="row">{{ article.getContent()|slice(0, 25)|striptags|raw }}</td>
                        <td scope="row">{{ article.getAuthor() }}</td>
                        <td scope="row">{{ article.getCreatedAt() }}</td>
                        <td scope="row">
                            <a href="../public/index.php?route=editArticle&articleId={{ article.getId() }}">Modifier</a>
                            <a href="../public/index.php?route=deleteArticle&articleId={{ article.getId() }}">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <h2>Commentaires signalés</h2>
            <table class="table-responsive">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Pseudo</th>
                    <th scope="col">Message</th>
                    <th scope="col">Date</th>
                    <th scope="col">Actions</th>
                </tr>
                {% for comment in comments %}
                    <tr>
                        <td scope="row">{{ comment.getId() }}</td>
                        <td scope="row">{{ comment.getPseudo()|raw|striptags }}</td>
                        <td scope="row">{{ comment.getContent()|slice(0, 25)|raw|striptags }}</td>
                        <td scope="row">{{ comment.getCreatedAt() }}</td>
                        <td scope="row">
                            <a href="../public/index.php?route=unflagComment&commentId={{ comment.getId() }}">Désignaler le commentaire</a>
                            <a href="../public/index.php?route=deleteComment&commentId={{ comment.getId() }}">Supprimer le commentaire</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <h2>Commentaires à valider</h2>
            <table class="table-responsive">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Pseudo</th>
                    <th scope="col">Message</th>
                    <th scope="col">Date</th>
                    <th scope="col">Actions</th>
                </tr>
                {% for comment in statusComments %}
                    <tr>
                        <td scope="row">{{ comment.getId() }}</td>
                        <td scope="row">{{ comment.getPseudo()|raw|striptags }}</td>
                        <td scope="row">{{ comment.getContent()|slice(0, 25)|raw|striptags }}</td>
                        <td scope="row">{{ comment.getCreatedAt() }}</td>
                        <td scope="row">
                            <a href="../public/index.php?route=validateComment&commentId={{ comment.getId() }}">Valider le commentaire</a>
                            <a href="../public/index.php?route=deleteComment&commentId={{ comment.getId() }}">Supprimer le commentaire</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <h2>Utilisateurs</h2>
            <table class="table-responsive">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Pseudo</th>
                    <th scope="col">Date</th>
                    <th scope="col">Rôle</th>
                    <th scope="col">Actions</th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td scope="row">{{ user.getId() }}</td>
                        <td scope="row">{{ user.getPseudo()|raw|striptags }}</td>
                        <td scope="row">Créé le : {{ user.getCreatedAt() }}</td>
                        <td scope="row">{{ user.getRole() }}</td>
                        {% if user.getRole() == 'admin' %}
                            <td scope="row">compte admin</td>
                        {% else %}
                            <td scope="row"><a href="../public/index.php?route=deleteUser&userId={{ user.getId() }}">Supprimer le compte</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
            <a class="margin bouton4" href="../public/index.php">Accueil</a>
        </div>
    </div>
{% endblock content %}


