{% set route = (post is defined and post.get('id')) ? 'editArticle&articleId=' ~ post.get('id') : 'addArticle' %}
{% set submit = (route == 'addArticle') ? 'Envoyer' : 'Mettre à jour' %}

<form method="post" action="../public/index.php?route={{ route }}">
    <label for="title">Titre</label><br>
    <input type="text" id="title" name="title" value="{{ post is defined ? post.get('title')|e : '' }}"><br>
    {{ errors.title ?? '' }}
    <label for="content">Contenu</label><br>
    <textarea id="contentAddArtticle" name="content">{{ post is defined ? post.get('content')|e : '' }}</textarea><br>
    {{ errors.content ?? '' }}
    <input type="submit" value="{{ submit }}" id="submit" name="submit">
</form>
