{% set route = post is defined and post.get('id') ? 'editComment' : 'addComment' %}
{% set submit = route == 'addComment' ? 'Ajouter' : 'Mettre à jour' %}
<form method="post" action="../public/index.php?route={{ route }}&articleId={{ article.getId() }}">
    <label for="pseudo">Pseudo</label><br>
    <input type="text" id="pseudo" name="pseudo" value="{{ post is defined ? post.get('pseudo')|e : '' }}"><br>
    {{ errors['pseudo'] ?? '' }}
    <label for="content">Message</label><br>
    <textarea id="content" name="content">{{ post is defined ? post.get('content')|e : '' }}</textarea><br>
    {{ errors['content'] ?? '' }}
    <input type="submit" value="{{ submit }}" id="submit" name="submit">
</form>