{% extends "base.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block content %}
    <div>
    <a href="images/dupre_cedric.png">Mon Curriculum Vitae</a>
    </div>
    <div class="message">
        <p class="message_text">
            {{ session.show('register') }}
            {{ session.show('logout') }}
            {{ session.show('delete_account') }}
            {{ session.show('add_comment') }}
            {{ session.show('flag_comment') }}
            {{ session.show('login') }}
            {{ session.show('delete_comment') }}
            {{ session.show('succes_mail') }}
            {{ session.show('no_send_mail') }}
            {{ session.show('void_message') }}
            {{ session.show('void_sujet') }}
            {{ session.show('void_mail') }}
        </p>
    </div>
    {% for article in allArticles %}
        <article class="card card_home_center color_article" style="background-color: #cfd3ce; border: none;">
            <div class="card_home_border card-body card_home_width card_home_color">
                <h2 class="card-title h2">{{ article.getTitle()|raw }}</h2>
                <p class="card-text">{{ article.getContent()|slice(0,50)|striptags|raw }}</p>
                <a href="../public/index.php?route=article&articleId={{ article.getId() }}">lire la suite...</a>
                <p class="card-text">{{ article.getAuthor()|raw }}</p>
                {% if article.getUpdateAt() == NULL %}
                    <p class="card-text">{{ article.getCreatedAt() }}</p>
                {% else %}
                    <p class="card-text">{{ article.getUpdateAt() }}</p>
                {% endif %}
            </div>        
        </article>
        <br>
    {% endfor %}
    <form action="index.php?route={{ 'contactMail' }}" method="post">
        Mail: <input type="text" name="mail" value="" />
        <br />
        Sujet: <input type="text" name="sujet" value="" />
        <br />
        Message: <textarea name="message" cols="40" rows="20"></textarea>
        <br />
        <input type="submit" name="envoyer" value="Envoyer" />
    </form>
{% endblock %}

