{% extends "base.html.twig" %}
{% block title %}Article{% endblock %}
{% block content %}
<div class="message">
    <p class="message_text">
    </p>
</div>
<article class="card card_home_center color_article" style="background-color: #cfd3ce; border: none;">
    <h2>{{ article.getTitle()|raw }}</h2>
    <p class="text_content">{{ article.getContent()|striptags('<p><b><strong><em><span>')|raw }}</p>
    <p class="card_end">{{ article.getAuthor()|raw }}</p>
    <p class="card_end">{{ article.getCreatedAt() }}</p>
</article>
{% if session.get('role') == 'admin' %}
<div class="actions">
    <a class="bouton4" href="../public/index.php?route=editArticle&articleId={{ article.getId() }}">Modifier</a>
    <a class="bouton4" href="../public/index.php?route=deleteArticle&articleId={{ article.getId() }}">Supprimer</a>
</div>
{% endif %}

<div id="comment_section" class="card" >
    {% if session.get('role') is not null %}
    <h3>Ajouter un commentaire</h3>
    {% include 'form_comment.html.twig' %}
    {% endif %}
    <h3>Commentaires</h3>
    {% for comment in allComments %}
    {% if comment.getStatus() == 1 and comment.isFlag() == 0 %}
    <div class="comment_content text_content" style="background-color: #cfd3ce; border: none;">
        <h4>{{ comment.getPseudo()|raw|striptags('<p><br>') }}</h4>
        <p>{{ comment.getContent()|raw|striptags('<p><br>') }}</p>
        <p>Posté le {{ comment.getCreatedAt() }}</p>
        {% if comment.isFlag() %}
            <p>Ce commentaire a déjà été signalé</p>
        {% elseif session.get('pseudo') == comment.getPseudo() or session.get('role') == 'admin'%}
            <p><a class="btn btn-primary" href="../public/index.php?route=flagComment&commentId= {{ comment.getId() }} ">Signaler le commentaire</a></p>
            <p><a class="btn btn-primary" href="../public/index.php?route=deleteComment&commentId= {{ comment.getId() }}">Supprimer le commentaire</a></p>
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}
</div>
<a class="margin bouton4" href="../public/index.php">Accueil</a>
{% endblock %}

